.site-hero{
  position: relative;
  height: auto;
  margin: 200px auto;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: left;
  @include desktop{
    margin: 0px;
    border-radius: 0px;
    height: auto;
    padding: 100px 0;
  }
  @include mobile{
    padding: 70px 0;
    height: auto;
  }
  &-content{
    
    h6 {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 700;
      font-size: 30px;
    }
    h1{
      margin-bottom: 5px;
      font-weight: 800;
      color: $black;
      @include desktop-lg{
        font-size: 50px;
        margin-bottom: 50px;
      }
      @include mobile{
        font-size: 40px;
      }
      
    }
    
    &-buttons{
      list-style: none;
      margin: 0;
      padding: 0;
      .description_text {
        font-family: $text-font;
        color: $black;
        font-weight: 100;
        padding-right: 20px;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 15px;
      }
      li{
        display: inline-block;
        @include mobile{
          display: block;
        }
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .btn{
          text-transform: uppercase;
          font-weight: 600;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          } 
        } 
        .hero-text {
          font-family: $secondary-font;
          color: $black;
          font-weight: 700;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
        }
      } 
      } 
    }
    
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 100px;
    transform: translateX(-50%);
  }
}
