{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <!--
            <h2 class="project-header">{{ .title }}</h2>
             <p>{{ .subtitle }}</p> -->
          </div>
        </div>
        {{ range first 12 (where $.Site.RegularPages "Type" "portfolio") }}
        <div class="col-lg-4 col-md-10 mx-auto">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <div class="site-project-item-thumb-bg">
                <div class="site-project-item-content">
                  <h3>{{ .Title }}</h3>
                  <span>{{ delimit .Params.category ", " }}</span>
                  <a href="{{ .Permalink }}" class="read-more">view project</a>
                </div>
              </div>
              <!-- <img src="{{ .Params.Image | absURL }}" alt="project-thumb"> -->
              </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-right">
          <a href="portfolio" class="site-project-cta">MORE WORKS</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}